<h1>List of Products</h1>
<a href="/products/new">Add a product</a>
<ul>
  <% products.forEach( (product) => { %>
    <li> <%= product.name %> - $<%= product.price %> 
      <a href="/products/<%= product._id %>">show product</a>
      <a href="/products/<%= product._id %>/edit">edit product</a>
      <a href="/products/<%= product._id %>/reviews/new">add review</a>
      <form action="/products/<%= product._id %>/delete" method="POST">
        <button type="submit">Delete Product</button>
      </form>

    </li>
  <% })%>
</ul>